<html><head></head><body><div class="hidden-in-page">
<h1>Awesome-Design-Tools</h1>
<p align="center">
    <a href="https://flawlessapp.io/feedback?github">
    	<img src="Awesome-design-tools-cover.png" alt="Awesome-Design-Tools">
    </a>
</p>
<about>
<h2>How to Use and Contribute</h2>
<ul>
<li>Go through the Table of Contents and choose the tool.</li>
<li>Search for a keyword or phrase (for example, "animation", "prototyping").</li>
<li>Ask <a href="https://twitter.com/LisaDziuba">Lisa</a> on Twitter.</li>
</ul>
<p>If you found some great design tool, just send a Pull Request. I'd love to see your suggestions!</p>
</about></div>
<div class="nav">
<h2>Table of Content</h2>
<ul>
<li><a href="#user-flow-tools">User Flow Tools</a></li>
<li><a href="#prototyping-tools">Prototyping Tools</a></li>
<li><a href="#ui-design-tools">UI Design Tools</a></li>
<li><a href="#design-feedback-tools">Design Feedback Tools</a></li>
<li><a href="#free-screenshot-software">Free Screenshot Software</a></li>
<li><a href="#design-system-tools">Design System Tools</a></li>
<li><a href="#font-tools">Font Tools</a></li>
<li><a href="#color-picker-tools">Color Picker Tools</a></li>
<li><a href="#animation-tools">Animation Tools</a></li>
<li><a href="#experience-monitoring-tools">Experience Monitoring Tools</a></li>
<li><a href="#accessibility-tools">Accessibility Tools</a></li>
<li><a href="#augmented-reality-tools">Augmented Reality Tools</a></li>
</ul>
</div>
<main><article class="welcome">
		<div class="welcome__asset">Awesome Design Tools logo</div>
		<h1 class="welcome__title">Awesome Design Tools</h1>
		<p class="welcome__description">
			The best design tools for everything collected by the community in Open Source GitHub repository.
			Content being curated by <a href="https://twitter.com/LisaDziuba">Lisa Dziuba</a> and <a href="https://twitter.com/ValiaHavryliuk">Valia Havruliyk</a> from Flawless App.
		</p>
		<a href="https://github.com/LisaDziuba/Awesome-Design-Tools" class="btn welcome__btn image-gh">Contribute on GitHub</a>
	</article>
<p align="center" class="hidden-in-page">
    <a href="https://flawlessapp.io/feedback?github">
    	<img src="flawless-feedback-promo-banner.png" alt="Awesome-Design-Tools">
    </a>
</p>
<article id="user-flow-tools">
		<header>
<h3>User Flow Tools</h3>
<p>If you need to make a user flow diagram, user flow map or a sitemap, take a look at these tools:</p>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.draw.io/">Draw.io</a>
				<p>free online diagram software for making flowcharts, process diagrams, org charts, UML, ER and network diagrams.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://overflow.io/">Overflow</a>
				<p>turn your designs into playable user flow diagrams that tell a story.</p>
			</div>
		</li>
</ul>
<a class="promo-banner promo-banner--flawless-feedback" href="https://flawlessapp.io/feedback">
			<div class="promo-banner__logo promo-banner--flawless-feedback__logo"></div>
			<div class="promo-banner__description promo-banner--flawless-feedback__description">
				<h3>Leave feedback on iOS apps</h3>
				<p>Turn UI issues &amp; Bugs<br> Into Jira tickets or Trello cards</p>
			</div>
			<div class="promo-banner__button promo-banner--flawless-feedback__button" href="https://flawlessapp.io/feedback">Request Access</div>
		</a>
		
	</article>
<article id="prototyping-tools">
		<header>
<h3>Prototyping Tools</h3>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.invisionapp.com/">InVision</a>
				<p> prototyping, collaboration &amp; workflow platform.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.flinto.com/">Flinto</a>
				<p>a Mac app for creating interactive and animated prototypes of app designs.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://framer.com/">Framer X</a>
				<p>a tool for prototyping design animations.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://marvelapp.com/">Marvel App</a>
				<p>the collaborative design platform. Wireframe, prototype, design online and create design specs in one place.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://principleformac.com/">Principle</a>
				<p>makes it easy to design animated and interactive user interfaces.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.protopie.io/">ProtoPie</a>
				<p>piece hi-fi interactions together, build sensor-aided prototypes and share your amazing creations in a matter of minutes.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://proto.io/">Proto.io</a>
				<p>a tool to create fully-interactive high-fidelity prototypes that look and work exactly like your app should.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.uxpin.com/">UXPin</a>
				<p>build prototypes that feel real, with powers of code components, logic, states and design systems.</p>
			</div>
		</li>
</ul>
<div class="banner">
<p>You can also do prototype with Figma, Adobe XD, InVision Studio, that mentioned in UI Design Tools section.</p>
</div>

		
	</article>
<article id="ui-design-tools">
		<header>
<h3>UI Design Tools</h3>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.adobe.com/products/illustrator.html">Adobe Illustrator</a>
				<p>create logos, icons, drawings, typography, and illustrations for print, web, video, and mobile.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.adobe.com/products/xd.html">Adobe XD</a>
				<p>design, prototype, and share any user experience, from websites and mobile apps to voice interactions.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://affinity.serif.com/en-gb/designer/">Affinity Designer</a>
				<p>vector graphics editor for macOS, iOS, and Microsoft Windows.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.figma.com/">Figma</a>
				<p>a design tool based in the browser, that allows to design and prototype with real-time collaboration.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.invisionapp.com/studio">Invision Studio</a>
				<p>combines design, prototyping, and collaboration into one harmonious workflow.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.adobe.com/products/photoshop.html">Photoshop</a>
				<p>imaging and graphic design software.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.sketchapp.com/">Sketch</a>
				<p>it's a design toolkit built for Mac.</p>
			</div>
		</li>
</ul>

		
	</article>
<article id="design-feedback-tools">
		<header>
<h3>Design Feedback Tools</h3>
<p>Do you get feedback during the development process? If you wish to get more structural feedback on UI issues or visual bugs take a look on this tool:</p>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://flawlessapp.io/feedback">Flawless Feedback</a>
				<p>review and annotate iOS apps then share your feedback in Jira or Trello.</p>
			</div>
		</li>
</ul>

		
	</article>
<article id="free-screenshot-software">
		<header>
<h3>Free Screenshot Software</h3>
<p>Find out powerful screenshot tools available for macOS:</p>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.getcloudapp.com/">CloudApp</a>
				<p>record videos, webcam, annotate screenshots, create GIFs and save them to the cloud.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://itunes.apple.com/us/app/lightshot-screenshot/id526298438">Lighshot</a>
				<p>screenshot app for taking quick captures of your screen.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://itunes.apple.com/us/app/monosnap/id540348655?mt=12">Monosnap</a>
				<p>create screenshots, annotate them and upload them to the cloud.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://support.apple.com/quicktime">Quicktime</a>
				<p>video player that you can use to record your screen.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.thnkdev.com/Screenie/">Screenie</a>
				<p>screenshotting tool that works as an image manager, so you can filter and search through images, change screenshot filetypes.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="http://snappy-app.com/">Snappy</a>
				<p>tool that takes quick shots and organizes them for you into collections.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://teampaper.me/snap/">Teampaper Snap</a>
				<p>modern screenshotting app that allows you to take screenshots of a selected area.</p>
			</div>
		</li>
</ul>

		
	</article>
<article id="design-system-tools">
		<header>
<h3>Design System Tools</h3>
<p>Tools that help to build, maintain, and organize your own design system.</p>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.goabstract.com/">Abstract</a>
				<p>a platform for design teams to version, manage and collaborate on Sketch files.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://brand.ai/">Brand.ai</a>
				<p>automatically maintainable UI components style guide.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.lingoapp.com/">Lingo</a>
				<p>create a shared asset library with your entire team.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://lucid.style/">Lucid</a>
				<p>tool for creating, managing and share design system. From a simple component library through to detailed descriptions of your styles.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.zeroheight.com/">Zeroheight</a>
				<p>styleguides created by designers, extended by developers, and editable by everyone.</p>
			</div>
		</li>
</ul>
<div class="banner">
<p>We can also add to this list Sketch and Figma, that mentioned in UI design tools.</p>
</div>

		
	</article>
<article id="font-tools">
		<header>
<h3>Font Tools</h3>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://fontface.ninja/">Fontface Ninja</a>
				<p>browser extension to discover what fonts are being used on any website.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://fontspark.app/">FontSpark</a>
				<p>simple tool to help designers quickly find the best fonts for their projects.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="http://sansforgetica.rmit/">Sans Forgetica</a>
				<p> downloadable font that is scientifically designed to help you remember your study notes.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://webfontapp.com/">Webfont</a>
				<p>create and maintain custom SVG icon fonts, made a shared library of icons.</p>
			</div>
		</li>
</ul>

		
	</article>
<article id="color-picker-tools">
		<header>
<h3>Color Picker Tools</h3>
<p>If you are looking for eyedropper tool, color identifier tool or color capture tool, here you go:</p>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://chroma.spencerhamm.com/">Chroma</a>
				<p>free web app which allows you to identify the color.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="http://khroma.co/">Khroma</a>
				<p>AI-based tool to generate color palettes based on your preferences.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://itunes.apple.com/us/app/pikka-color-picker/id1195076754">Pikka - Color Picker</a>
				<p>color picker &amp; color schemes generator for macOS</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="http://casesandberg.github.io/react-color/">React Color</a>
				<p>a collection of color pickers from Sketch, Photoshop, Chrome.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://bjango.com/mac/skalacolor/">Skala Color</a>
				<p>works with a huge variety of formats, covering everything you’re likely to need for web, iOS, Android, and macOS development.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://swatchesapp.io/">Swatches</a>
				<p>iOS app that lets you collect, inspect and share the colors that inspire you in your daily life.</p>
			</div>
		</li>
</ul>

		
	</article>
<article id="animation-tools">
		<header>
<h3>Animation Tools</h3>
<p>Need to create animated transition, micro-interaction or scroll-based animation? Go through these tools:</p>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.adobe.com/products/aftereffects.html">Adobe After Effects</a>
				<p> a digital visual effects, motion graphics, and compositing application.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://kiteapp.co/">Kite Compositor</a>
				<p>a powerful animation and prototyping application for Mac &amp; iOS.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://uselightbox.com/">LightBox</a>
				<p>2D, Hand-Drawn animation package.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://airbnb.io/lottie/">Lottie</a>
				<p>a mobile library for Android and iOS that parses Adobe After Effects animations exported as json with Bodymovin and renders them natively on mobile and on the web.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://spiritapp.io/">Spirit</a>
				<p>animation tool that helps you to create and manage the animations real time in the browser.</p>
			</div>
		</li>
</ul>
<div class="banner">
<p>Principle, Framer, Invision Studio, Flinto are also among UI &amp; UX animation apps and software animations tools.</p>
</div>

		
	</article>
<article id="experience-monitoring-tools">
		<header>
<h3>Experience Monitoring Tools</h3>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.fullstory.com/">FullStory</a>
				<p>app that captures all your customer experience data in one powerful, easy-to-use platform.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.hotjar.com/">Hotjar</a>
				<p>see how visitors are really using your website, collect user feedback and turn more visitors into customers.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.inspectlet.com/">Inspectlet</a>
				<p>record videos of your visitors as they use your site, so you can see everything they do.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://analytics.google.com/analytics/web/">Google Analytics</a>
				<p>measure your advertising ROI as well as track your Flash, video, and social networking sites and applications.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://mixpanel.com/">Mixpane</a>
				<p>get insights across all of your user-centric data to make smarter decisions and act faster based on how customers use your product or website.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.pendo.io/">Pendo</a>
				<p>measure and elevate the customer experience within their applications.</p>
			</div>
		</li>
</ul>

		
	</article>
<article id="accessibility-tools">
		<header>
<h3>Accessibility Tools</h3>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://contrasteapp.com/">Contraste</a>
				<p>app for checking the accessibility of text against the Web Content Accessibility Guidelines (WCAG).</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://hexnaw.com/">Hex Naw</a>
				<p> helps you to test entire color systems for contrast and accessibility.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="http://pa11y.org/">PA11Y</a>
				<p>accessibility testing tool to find issues with your web pages. It runs HTML CodeSniffer from the command line for programmatic accessibility reporting.</p>
			</div>
		</li>
</ul>

		
	</article>
<article id="augmented-reality-tools">
		<header>
<h3>Augmented Reality Tools</h3>
</header>
		<ul>
			
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://lightform.com/">Lightform</a>
				<p>design tool for projected AR.</p>
			</div>
		</li>
<li class="tool">
			<div class="tool__asset"></div>
			<div class="tool__description">
				<a href="https://www.sparkar.com">Spark AR Studio</a>
				<p>сreate AR experiences for Instagram without code.</p>
			</div>
		</li>
</ul>

		
	</article>
<article id="reference-and-inspiration">
		<header>
<h3>Reference &amp; Inspiration</h3>
<p>This repo was inspired by articles from the design community and Prototypr.io Toolbox.</p>
</header>
		<ul>
			undefined
		</ul>
	</article>
</main>

<div class="hamburger-menu">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</div></body></html>